# Node modules - ye local hai, image me install hoga Dockerfile se
node_modules
npm-debug.log
yarn-error.log

# Git related
.git
.gitignore

# OS files
.DS_Store

# Environment variables
.env

# Build output (agar Dockerfile me build karoge to ignore karna hai)
dist

# Logs
*.log
